{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <ol class="breadcrumb">
      <li><a href="{% url 'block_list' %}">首页</a></li>
      <li><a href="{% url 'article_list' article.block.id %}">{{ article.block.name }}</a></li>
      <li class="active">{{ article.title }}</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered mainTable">
      <tr>
        <td class="author">
            <br />
            <center>作者：{{ article.owner.username }}<center>
        </td>
        <td class="content">
          <h6>发表于：{{ article.create_timestamp|date:"Y-m-d P" }}</h6>
          <h4>标题：{{ article.title }}</h4>
          <div> {{ article.content|linebreaksbr }} </div>
        </td>
      </tr>
      {% for comment in comments %}
      <tr>
        <td class="author">
            <br />
            <center>作者：{{ comment.owner.username }}<center>
        </td>
        <td class="content">
          <h6>发表于：{{ comment.create_timestamp|date:"Y-m-d P" }}</h6>
          <div> {{ comment.content|linebreaksbr }} </div>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% include "component/paginator.html" with param_name="comment_page_no" %}
    {% if user.is_authenticated %}
    <table class="table mainTable">
      <tr>
        <td class="author">
          <br />
          <center>作者：{{ user.username }}<center>
        </td>
        <td class="content">
          <textarea class="form-control" id="commentContent" rows="3"></textarea>
          <br />
          <button class="btn btn-primary" id="commentBtn">发表评论</button>
          <br />
          <br />
        </td>
      </tr>
    </table>
    {% endif %}
  </div>
</div>
<style type="text/css">
.mainTable td.author {
  width: 20%;
}
.mainTable td.content {
  width: 80%;
}
</style>
<script type="text/javascript" src="/static/lib/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/lib/jquery/jquery.csrf.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  $("#commentBtn").click(function () {
    var article_id = {{ article.id }};
    var to_comment_id = 0;
    var comment = $("#commentContent").val();
    var page_cnt = {{ pagination.page_cnt }};
    var param = {"article_id": article_id, "to_comment_id": to_comment_id, "content": comment};
    $.post("{% url 'create_comment' %}", param, function () {
      $("#commentContent").val("");
      window.location.href = "{% url 'article_detail' article.id %}?comment_page_no=" + (page_cnt + 1);
    });
  })
});
</script>
{% endblock %}
