{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-10">
   {% for block in blocks %}
   <div class="panel panel-default">
     <div class="panel-heading">
       <a href="{% url 'article_list' block.id %}">{{ block.name }}</a>
       <span class="pull-right">管理员:{{ block.manager.username }}</span>
     </div>
     <div class="panel-body">
       <span style="font-size: 0.8em;">{{ block.desc }}</span>
     </div>
   </div>
   {% endfor %}
  </div>
  <div class="col-sm-2">
    <div class="well">
      {% if user.is_authenticated %}
        {% if user_avatar %}
        <a href="{% url 'upload_avatar' %}" class="thumbnail">
          <img src="{{ user_avatar }}" alt="未设置头像">
        </a>
        {% else%}
        <a href="{% url 'upload_avatar' %}" class="btn btn-primary">上传头像</a>
        {% endif %}
        <span>{{ user.username }}.</span>
        {% if msg_cnt %}
        <a href="{% url 'message_list' %}"><span class="badge">{{ msg_cnt }}</span></a>
        {% endif %}
        <br />
         欢迎来到论坛.
        <br />
        <a href="{% url 'logout_then_login' %}">登出</a>
        <br />
        <a href="{% url 'password_change' %}">修改密码</a>
      {% else %}
        <p>匿名用户. 请<a href="{% url 'login' %}">登录</a>.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
